
.DS_Store
examples/.DS_Store
examples/Atividade-2021-05-12/.DS_Store
examples/Atividade-2021-05-12/test/.DS_Store
test/.DS_Store
*.out
examples/foo/test/.DS_Store
examples/foo/.DS_Store
examples/example_1/.DS_Store
examples/.DS_Store
.DS_Store
examples/foo/test/.DS_Store
examples/foo/.DS_Store
examples/example_1/.DS_Store
examples/.DS_Store
.DS_Store
